{% extends 'base.html' %}
{% load static %}

{% block title %}
  Página Inicial
{% endblock %}

{% block content %}
  {% for new in news %}
    <div>
      <a href="{% url 'news-details-page' new.id %}">
        <h2 class="news-title">{{new.title}}</h2>
        <span class="news-date">{{new.created_at|date:"d/m/Y"}}</span>
        <hr />
        <img  src="{% static new.image.url %}" alt="news-image" width="100"/> 
        <!-- quando e imagem tem que colocar ".url" no final -->
      </a>
    </div>
  {% endfor %}

{% endblock %}